[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[packages]
django = "==3.2.3"
python-dateutil = "==2.8.2"

[dev-packages]
django-stubs = "==1.12.0"

[requires]
python_version = "3.7"
